[build]
packages = [
    "pyroll"
]

[version]
path = "pyroll/core/__init__.py"

[envs.default]
path = ".venv"
dependencies = [
    "ipython ~= 8.0",
    "pytest ~= 7.0",
    "pyroll-report ~= 2.0",
    "jupyter",
]
features = ["plotly", "matplotlib"]

[envs.test]
path = ""
dependencies = [
    "pytest ~= 7.0",
    "pyroll-report ~= 2.0",
]

[[envs.test.matrix]]
features = ["matplotlib", "plotly"]

[envs.test.scripts]
all = "pytest tests"
solve = "pytest tests/test_solve.py"